MP.WindowsServices/MP.WindowsServices.Builder/obj/Debug/MP.WindowsServices.Builder.csproj.FileListAbsolute.txt
MP.WindowsServices/MP.WindowsServices.Builder/obj/
MP.WindowsServices/MP.WindowsServices.Common/bin/
MP.WindowsServices/MP.WindowsServices.Common/obj/
MP.WindowsServices/MP.WindowsServices.FileStorageObserver/bin/
MP.WindowsServices/MP.WindowsServices.FileStorageObserver/obj/
MP.WindowsServices/MP.WindowsServices.ImagesSorterManager/bin/
MP.WindowsServices/MP.WindowsServices.ImagesSorterManager/obj/
MP.WindowsServices/MP.WindowsServices.OutputResultConverterManager/obj/
