MP.WindowsServices/MP.WindowsServices.Builder/obj/Debug/MP.WindowsServices.Builder.csproj.FileListAbsolute.txt
MP.WindowsServices/MP.WindowsServices.Builder/obj/
MP.WindowsServices/MP.WindowsServices.Common/bin/
MP.WindowsServices/MP.WindowsServices.Common/obj/
MP.WindowsServices/MP.WindowsServices.FileStorageObserver/bin/
MP.WindowsServices/MP.WindowsServices.FileStorageObserver/obj/
MP.WindowsServices/MP.WindowsServices.ImagesSorterManager/bin/
MP.WindowsServices/MP.WindowsServices.ImagesSorterManager/obj/
MP.WindowsServices/MP.WindowsServices.OutputResultConverterManager/obj/
MP.WindowsServices/MP.WindowsServices.ImagesManager/bin/
MP.WindowsServices/MP.WindowsServices.ImagesManager/obj/
MP.WindowsServices/.vs/MP.WindowsServices/v15/
MP.WindowsServices/packages/
MP.WindowsServices/TestConsole/bin/
MP.WindowsServices/TestConsole/obj/
MP.WindowsServices/MP.WindowsServices.ServiceInstance/bin/
MP.WindowsServices/MP.WindowsServices.ServiceInstance/obj/
MP.WindowsServices/MP.WindowsServices.WorkflowBuilder/bin/
MP.WindowsServices/MP.WindowsServices.WorkflowBuilder/obj/
obj/
